@import "../../../../../styles/index.scss";

.greenhouse-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .greenhouse-details-btns {
        display: flex;
        gap: 10px; // Space between buttons

        .project-button {
            display: flex;
            align-items: center; // Center the icon and text vertically
            background-color: transparent; // Default background color
            color: var(--theme-color-primary);
            border: none; 

            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &.active {
                background-color: var(--theme-backtotop-color);
                color: var(--theme-color-secondary);
                width: 100%;
            }

            &:hover {
                background-color: var(--theme-backtotop-color);
                color: var(--theme-color-secondary);
                width: 100%;
            }
        }
    }

    .project-section {
        margin-bottom: 40px;
        width: 100%;
        max-width: 1300px;
        text-align: center;

        .project-item-main {
            margin-bottom: 20px;
            padding: 20px;
            // border-radius: 8px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            .project-item {
                padding: 0 15% 0 0;
                h2 {
                    @include font-size(60px);
                    margin-top: 20px;
                    @include font-weight(400);
                    @include letter-spacing(0);
                    @include font-family("Old Standard TT");
                    text-align: left;
                }

                .description {
                    font-size: 16px;
                    margin: 25px 0;
                    font-family: Old Standard TT;
                    font-size: 22px;
                    line-height: 32px;
                    font-style: italic;
                    text-align: left;
                }

                .subdescription {
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 400;
                    letter-spacing: 0;
                    color: var(--theme-description-text-color);
                    // background-color: var(--theme-color-secondary);
                    overflow-x: hidden !important;
                    -webkit-font-smoothing: antialiased;
                    text-align: left;
                }
            }
            img {
                max-width: 650px;
                height: 100%;
            }
        }
    }
}
