@import '../../styles/index.scss';

.about-us {
    padding: 100px 0;

    &-container {
        max-width: 1300px; // Adjust this value as needed
        margin: 0 auto;
        padding: 0 15px;
    }

    &-title {
        text-align: center;
        margin-bottom: 40px;

        h1 {
            @include font-size(60px);
            @include font-weight(500);
            @include line-height(1em);
            @include letter-spacing(0);
            @include font-family('Old Standard TT');
            margin-bottom: 20px;
        }

        .about-us-title-image {
         svg{
                path {
                    stroke: var(--theme-backtotop-color);
                    stroke-width: 2;
                }
            }
        }
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px 40px;

        &-item {
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);

                .about-us-content-item-img {

                    &::after {
                        box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.05);
                    }
                }
            }

            &-img {
                position: relative;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
                    transition: box-shadow 0.3s ease;
                }

                img {
                    width: 100%;
                    height: auto;
                    transition: transform 0.3s ease;
                }

                .image-overlay-text {
                    position: absolute;
                    z-index: 1;
                    left: -12.5%;
                    top: 20px;
                    background-color: white;
                    padding: 6px 20px;
                    text-transform: uppercase;
                    transition: color 0.3s ease;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.714em;
                    letter-spacing: 1px;
                    transform: rotate(270deg) translateX(-40%);

                    &:hover {
                        color: var(--theme-backtotop-color);
                    }
                }
            }

            &-title {
                padding: 36px 30px 30px;
                text-align: center;
                background-color: var(--theme-color-secondary);

                h2 {
                    @include font-size(24px);
                    @include font-weight(600);
                    @include line-height(1em);
                    @include letter-spacing(0);
                    @include font-family('Old Standard TT');
                    margin-bottom: 10px;
                }

                p {
                    @include font-size(18px);
                    @include font-weight(400);
                    @include line-height(1.5em);
                    @include letter-spacing(0);
                    color: var(--theme-description-text-color);
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                        @include font-size(16px);
                    }
                }
            }
        }
    }
}

// Media query for responsiveness
@media (max-width: 768px) {
    .about-us {
        &-content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 480px) {
    .about-us {
        &-content {
            grid-template-columns: 1fr;
        }
    }
}
