:root {
    --theme-color-primary: #000;
    --theme-color-secondary: #fff;
    --theme-header-text: #888484;
    --theme-header-text-hover: #1b1c21;
    --theme-black-title-color: #2d2e32;
    --theme-header-hover-bgcolor: #f8ecc7;
    --theme-backtotop-color: #bf9410;
    --theme-selection-bgcolor: #bf9410;
    --theme-selection-text-color: #f6f8fb;
    --theme-description-text-color:#7b7b7b;
    --theme-architecture-mind-color: #f8eae8;
}