@import '../../styles/index.scss';


footer {
    padding-top: 67px;
    background-color: var(--theme-color-primary);

    .footer-container {
        max-width: 1300px;
        margin: 0 auto;

        .footer-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 50px;
            border-bottom: 1px solid #e8e8e8;

            .footer-logo {
                img {
                    display: block;
                    height: 50px;
                    
                }
            }

            .footer-content-detailes {
                h2 {
                    @include font-size(24px);
                    @include font-family('Old Standard TT');
                    margin-bottom: 40px;
                    color: var(--theme-color-secondary);
                }

                .footer-content-subDetailes {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    a {
                        color: var(--theme-description-text-color);
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--theme-architecture-mind-color);
                        }
                    }
                }

                .footer-content-social {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    a {
                        display: flex;
                        
                        gap: 10px;
                        .footer-social-media-icon {
                            transition: .3s ease-in-out;
                            cursor: pointer;
                            fill: var(--theme-description-text-color);
                        }

                        span {
                            transition: .3s ease-in-out;
                            color: var(--theme-description-text-color);
                            @include font-size(18px);
                            @include font-weight(400)
                        }

                        &:hover {
                            span {
                                color: var(--theme-backtotop-color)
                            }

                            .footer-social-media-icon {
                                fill: var(--theme-backtotop-color);
                            }
                        }
                    }
                }
            }
        }
        .footer-privacy-policy{
            padding: 15px 0;
            h3{
                color: var(--theme-description-text-color);
                @include font-size(12px);
                @include font-weight(400)
            }
        }
    }
}