* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f8fb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

span,
a,
img,
em,
strong,
i,
small,
code,
label,
button,
input,
select,
textarea {
  display: block;
}

::selection {
  background-color: var(--theme-selection-bgcolor);
  color: var(--theme-selection-text-color);
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color:var(--theme-from-our-blog-bgcolor);
  border-radius: none;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: goldenrod; // Semi-transparent goldenrod
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(218, 165, 32, 0.9); // More opaque on hover
  border: 2px solid rgba(218, 165, 32, 0.2);
}

/* Optional: Horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  height: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
